.container
{
    display:flex;
    flex-direction:column;
    margin:auto;
    width:600px;
    margin-top:10px;
    background:rgba(0, 0, 0, 0.569);
    border-radius:15%;
    border-style:ridge;
}

.header
{ 
    display:flex;
    flex-direction:column; 
    align-items:center;
}

.text
{
    color:#00b009;
    font-size:50px;
    font-weight:500;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputs
{
    margin-top:40px; 
    display:flex; 
    flex-direction:column;
    gap:25px;
}

.input
{
    display:flex;
    align-items:center;
    margin: auto; 
    background:#eaeaea;
    border-radius:6px;
}

.input img
{ 
    margin: 0px 30px;
}

.input input
{
    height: 50px;
    width:400px;
    background:transparent;
    border:none;
    outline: none;
    color:#797979;
    font-size:19px;
}

.reset-password
{ 
    padding-left: 62px; 
    margin-top:27px;
    color:#04ff3f;
    font-size:18px;
    font-weight: 600;
}

.reset-password span
{ 
    color:#bdb7b7;
    cursor:pointer;
    font-weight:700;
}

.CheckBox
{
    padding-left: 62px; 
    margin-top:60px;
    color:#ffffff;
    font-size:18px;
    font-weight: 600;
}

.submit-container
{ 
    display:flex;
    gap:30px;
    margin:60px auto;
}

.submit
{ 
    display:flex;
    justify-content:center;
    align-items: center;
    width:220px;
    height:59px;
    color:#fff;
    background:#00b009;
    border-radius:50px; 
    font-size:19px; 
    font-weight:700; 
}

.green
{
    background: #EAEAEA;
    color:#676767;
    transition: background-color 0.2s ease-in-out;
}

.green:hover
{
    background-color: green;
}

.Newacc span
{
    padding-left: 62px; 
    margin-top:27px;
    color:#bdb7b7;
    cursor:pointer;
    font-weight:700;
}